@use "../ABSTRACT/variable" as *;
@use "../ABSTRACT/mixins" as *;


.feature {
    position: relative;
    width: 100%;

    .container {
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        gap: 50px;
        margin-bottom: $section-padding;

        .box {
            overflow: hidden;
            text-align: center;
            border: 1px solid rgba(180, 175, 175, 0.3);
            border-radius: $border-radius;
            width: 50%;
            height: 100%;
            max-height: 600px;
            padding-bottom: 40px;

            h1 {
                padding-top: 40px;
            }

            p {
                margin: 0 auto;
                width: 93%;
                color: $second-color-light;
                padding-top: 20px;
                padding-bottom: 30px;
                font-size: 23px;
            }

            .special {
                position: relative;
                padding: 8px 15px;
                border-radius: 25px;

            }

            &:nth-child(1) {
                img {
                    margin-top: 10%;
                    width: 100%;
                    height: 100%;
                }
            }

            &:nth-child(2) {
                .special {
                    margin-top: 32px;
                    margin-bottom: 70px;

                }

                .slide {
                    overflow: hidden;

                    .track {
                        display: flex;
                        gap: 10px;
                        width: max-content;
                        margin-top: 10px;


                        span {
                            white-space: nowrap;
                            font-weight: 600;

                            display: inline-flex;
                            align-items: center;
                            gap: 10px;

                            padding: 5px 25px 5px 5px;
                            border-radius: 8px;

                            color: white;
                            border: 1px solid $border-color;


                            img {
                                border-radius: 5px;
                                width: 25px;
                                height: 25px;

                            }

                            .a {
                                background-color: rgb(255, 160, 87);
                                padding: 5px;
                            }

                            .s {
                                background-color: rgb(112, 184, 255);
                                padding: 5px;
                            }

                            .e {
                                background-color: rgb(157, 255, 207);
                                padding: 5px;
                            }
                        }
                    }

                    .t-one,
                    .t-three {
                        animation: scroll 40s linear infinite;
                    }

                    .t-two,
                    .t-four {
                        animation: scroll-right 40s linear infinite;
                    }

                }
            }
        }
    }

    .grid-cards {
        display: grid;
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        gap: 20px;
        margin-bottom: 200px;

        .crd {
            padding: 20px;


            h4 {

                margin-top: 15px;

                i {
                    margin-right: 5px;
                    color: $parple;
                }
            }

            p {
                font-size: 17px;
                color: $second-color-light;
                margin-top: 10px;
            }
        }
    }
}


@include respond('tablet') {
    .feature {
        .container {
            flex-direction: column;
            padding: 0;

            .box {

                width: 85% !important;
                position: relative;

                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 18px;
                }

                &:nth-child(1) {
                    padding-bottom: 0;

                    img {
                        position: relative;
                        width: 100%;
                        height: 100%;
                    }
                }
                &:nth-child(2) {
                .special{
                    margin-bottom: 10px;
                }
                }

            }
        }
    }
    .grid-cards{
        grid-template-columns: 1fr !important;

    }
}