$main-color:#080a0afc;
$second-color:#ffffff;
$second-color-light:#ffffffa3;
$light-parple:#e8d3fd;
$parple:#7C3AED;
$section-padding:100px;
$border-radius:9px;
$border-color:rgba(133, 132, 132, 0.277);
$background-color:  #171717;
// $background-color: #0d1117;